*.o
*.exe
*.dll
*.lib
*.so
*.a
CMakeFiles/
cmake_install.cmake
CMakeCache.txt
Makefile
compile_commands.json
build/
Debug/
Release/
x64/
out/
# Ignora pastas de build. Cada um deve gerar seu build localmente
.vscode/
.idea/\z
cmake-build-*/